<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452769774588-kp0dhq13ntgh6pkb67102g9psdbg3ae6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452769774588-kp0dhq13ntgh6pkb67102g9psdbg3ae6</string>
	<key>API_KEY</key>
	<string>AIzaSyAnMgaEfe8FEM4jluVgjs4MDCEwse_5XJc</string>
	<key>GCM_SENDER_ID</key>
	<string>452769774588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beatim.com.beatim</string>
	<key>PROJECT_ID</key>
	<string>beatimtest</string>
	<key>STORAGE_BUCKET</key>
	<string>beatimtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452769774588:ios:eb2656162a770deafbd079</string>
</dict>
</plist>